<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>IT-PC-MACPRO-002</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-05-06T01:28:36Z</date>
	<key>dataHash</key>
	<string>3b5a2383996eacd48c9bae1975c9871a3de6f224</string>
	<key>displayName</key>
	<string>look at what rollerball automation does, and separate out what mason-linux should be doing</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>look at what rollerball automation does, and separate out what mason-linux should be doing</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-05-06T05:13:16Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>fe5a1923-ac08-4f05-95c8-5c4d64c74273</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
