<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>defaultPage</key>
	<string>Index</string>
	<key>defaultUUID</key>
	<string>424d06ff-2eb5-41e6-b75b-e92704281576</string>
	<key>expectedPageCount</key>
	<integer>5</integer>
	<key>localWebAccess</key>
	<false/>
	<key>openWindows</key>
	<array>
		<dict>
			<key>displayUUID</key>
			<string>6ac066d1-f12a-4962-8951-e866e1801736</string>
			<key>drawerOpen</key>
			<false/>
			<key>openUUIDProperties</key>
			<array>
				<dict>
					<key>itemUUID</key>
					<string>fe5a1923-ac08-4f05-95c8-5c4d64c74273</string>
					<key>rulerVisible</key>
					<true/>
					<key>selectedRange</key>
					<string>{0, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 1862}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
				<dict>
					<key>itemUUID</key>
					<string>6ac066d1-f12a-4962-8951-e866e1801736</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{458, 0}</string>
					<key>visibleGlyphs</key>
					<string>{0, 3205}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
			</array>
			<key>windowFrame</key>
			<string>{{997, 0}, {707, 1177}}</string>
		</dict>
	</array>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>69299b55-f7f5-47d3-a339-edcfb3945489</string>
</dict>
</plist>
