<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>Mac Pro No. 5</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-05-31T23:53:41Z</date>
	<key>dataHash</key>
	<string>30ebb5aac60e6e5ed07bacb5de885a694f102d25</string>
	<key>displayName</key>
	<string>make a VMWare image from scratch</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>make a vmware image from scratch</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-06-01T00:31:43Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>3e1c2b44-7f2d-4702-9fbd-32b1b96cd74a</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
