<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aliases</key>
	<array/>
	<key>attributes</key>
	<dict>
		<key>documentBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>lastEditingComputerName</key>
		<string>IT-PC-MACPRO-002</string>
		<key>lastEditingUserName</key>
		<string>mason</string>
	</dict>
	<key>categories</key>
	<array/>
	<key>createdDate</key>
	<date>2016-05-31T00:22:32Z</date>
	<key>dataHash</key>
	<string>72109b4a40f3889e5b6ab4018655095b869fd0ae</string>
	<key>displayName</key>
	<string>rewrite the deploy script based on Derployer from mason.gem</string>
	<key>encrypted</key>
	<string>No</string>
	<key>key</key>
	<string>rewrite the deploy script based on derployer from mason.gem</string>
	<key>metaValues</key>
	<dict/>
	<key>modifiedDate</key>
	<date>2016-05-31T01:03:59Z</date>
	<key>shouldHighlightLinks</key>
	<string>Yes</string>
	<key>skipOnExport</key>
	<string>No</string>
	<key>uti</key>
	<string>com.apple.rtfd</string>
	<key>uuid</key>
	<string>dfdf3cf6-897a-478c-98ad-adcd70295528</string>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
